<!DOCTYPE html>
<html>
<head>


  <link rel="stylesheet" href="reeee.css">


</head>
<body>

<div class="header">
  <h1>Staff</h1>
  <p>Welcome to Restaurant Management System</p>
</div>

<div class="topnav">
 
  <a href='Details.html'style ="color:#;">Details</a>
  <a href='about.php'style ="color:#;">About</a>
  <a href='logout.php'style ="float:right""color:#;">LogOut</a>
  
</div>


<h2>Here The Staff Names:</h2>
<p></p>
<br>

<div class="row">
  <div class="column">
    <div class="card">
      <img src="pic/111.jpg" alt="RAZ" style="width:100%">
      <div class="container">
        <h2>RAZ KHAN</h2>
        <p class="title">#Staff1</p>
        <p>Hi!! I am Raz.i am from dhaka.My hobby is playing cricket.I want to be a good business man.</p>
        <p>razstaff1@gmail.com</p>
        <p><button class="button">phn:+8801712345482</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="pic/333.jpg" alt="ARMAN" style="width:100%">
      <div class="container">
        <h2>ARMAN HASAN</h2>
        <p class="title">#Staff2</p>
        <p>Hi!!I am Arman.i am from chittagong.My hobby is playing reading different kinds of book.I want to be a good writer.</p>
        <p>armanstaff2@gmail.com</p>
        <p><button class="button">phn:+8801723145689</button></p>
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <img src="pic/2222.jpg" alt="LIPA" style="width:100%">
      <div class="container">
        <h2>LIPA AHSAN</h2>
        <p class="title">#Staff3</p>
        <p>Hi!! I am Lipa.i am from dhaka.My hobby is singing song.I want to be a good human.</p>
        <p>lipastaff3@gmail.com</p>
        <p><button class="button">phn:+8801725326598</button></p>
      </div>
    </div>
  </div>
</div>
<br><style>
body {
  background-color: lightblue;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}
</style> 

<h3>lets satisfy our hunger with our tasty dishes:</h3>
        <p>Everyone has a favorite restaurant that he or she loves to eat at. The best restaurant to go to in Altoona is The Olive Garden. This peaceful place has the most delicious food for all the Italian food lovers out there. The Olive Garden is the most exquisite place to eat and is truly the finest restaurant in town.
            Every time I walk in to the Olive Garden I obtain the best feeling. No matter how many times I come, I always love to observe what is around me. Each and every comforting smile the employees have on their faces and the soft Italian music playing, always makes me feel relaxed. When I breathe in the aroma of the Italian food, it always reminds me of how hungry I am. The uniquely textured walls produce a smooth yet flowing look. It is almost as I am in a famous building in Italy. The viny plants that clasp to the walls ever so freely give it a natural appearance. The marble tiled floor beneath me gives the restaurant a clean yet warm appearance.
            The host's kind and gentle eyes look at their customers and politely ask for the number of the party attending and the smoking preference they prefer. They have soft cushion seats that let my body sink right down in them. I always notice the quiet atmosphere around me. This makes everyone's mood ever so noticeable. The Olive Garden always seems to have the most friendly customers. The windows that surround the tables present an open feeling, almost as if I was eating outside.</p>
</body>
</html>


